<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% extends "navigator.html" %}
    {% block content %}
    <div class="container">
        <div class="content">
            <h2>Visualisation App Home</h2>
            <p>This is a data analysis and visualisation application for National Greenhouse and Energy Register 2021-22.</p>
            <p>Under the National Greenhouse and Energy Reporting Act 2007 (NGER Act), entities that are required to report their energy use and greenhouse gas emissions must report to the Australian Government. 
                <a href="https://www.cleanenergyregulator.gov.au/NGER/National greenhouse and energy reporting data/Extract-of-National-Greenhouse-and-Energy-Register-by-year/national-greenhouse-and-energyregister-2021-22 ">The Australian Government Clean Energy Regulator published these entities in the National Greenhouse and Energy Reporting Registrar.</a>
                 This application loads data and shows an analysis of the National Greenhouse and Energy Register for 2021-22 reporting year using the publicly available data.</p>
            <h2>Dataset Used</h2>
            <p>In this application we mainly focused on <a href="https://www.cleanenergyregulator.gov.au/NGER/National%20greenhouse%20and%20energy%20reporting%20data/Corporate%20emissions%20and%20energy%20data/corporate-emissions-and-energy-data-2021-22">Corporate emissions and energy data 2021-22 covered under the register</a>. It has 3 key attributes for each reporting organisations: Scope 1 emission, Scope 2 emission, net energy assumption.
            </p>
                <h3>Scope 1 emissions</h3>
                <p>Scope 1 greenhouse gas emissions are the emissions released to the atmosphere as a direct result of an activity, or series of activities at a facility level. Scope 1 emissions are sometimes referred to as direct emissions. Examples are:
                </p>
                <p>
                    <ul>
                        <li><p>emissions produced from manufacturing processes, such as from the manufacture of cement</p></li>
                        <li><p>emissions from the burning of diesel fuel in trucks</p></li>
                        <li><p>fugitive emissions, such as methane emissions from coal mines, or</p></li>
                        <li><p>production of electricity by burning coal.</p></li>
                    </ul>
                </p>
                <h3>Scope 2 emissions</h3>
                <p>Scope 2 greenhouse gas emissions are the emissions released to the atmosphere from the indirect consumption of an energy commodity. For example, 'indirect emissions' come from the use of electricity produced by the burning of coal in another facility.
                </p>
                <p>Scope 2 emissions from one facility are part of the scope 1 emissions from another facility.</p>
                <p>For example, a power station burns coal to power its generators and in turn creates electricity. Burning the coal causes greenhouse emissions to be emitted. These gases are attributed to the power station as scope 1 emissions. If the electricity is then transmitted to a car factory and used there to power its machinery and lighting, the gases emitted as a result of generating the electricity are then attributed to the factory as scope 2 emissions.
                </p>
                <h3>A glance of the dataset</h3>
                <table>
                    <tr>
                      <th>Organisation name</th>
                      <th>Identifying details</th>
                      <th>Total scope 1 emissions (t CO2-e)</th>
                      <th>Total scope 2 emissions (t CO2-e)</th>
                      <th>Net energy consumed (GJ)</th>
                    </tr>
                    <tr>
                      <td>AGL ENERGY LIMITED</td>
                      <td>74 115 061 375</td>
                      <td>39,512,681</td>
                      <td>538,965</td>
                      <td>305,460,679</td>
                    </tr>
                    <tr>
                      <td>STANWELL CORPORATION LIMITED</td>
                      <td>37 078 848 674</td>
                      <td>17,277,604</td>
                      <td>59,566</td>
                      <td>127,676,405</td>
                    </tr>
                    <tr>
                      <td>ENERGYAUSTRALIA HOLDINGS LIMITED</td>
                      <td>57 101 876 135</td>
                      <td>16,171,052</td>
                      <td>196,589</td>
                      <td>130,959,326</td>
                    </tr>
                    <tr>
                      <td>ORIGIN ENERGY LIMITED</td>
                      <td>30 000 051 696</td>
                      <td>12,836,172</td>
                      <td>2,350,222</td>
                      <td>115,507,100</td>
                    </tr>
                    <tr>
                      <td>CHEVRON AUSTRALIA HOLDINGS PTY LTD</td>
                      <td>60 098 079 344</td>
                      <td>12,310,111</td>
                      <td>2,329</td>
                      <td>148,543,549</td>
                    </tr>
                    <tr>
                      <td>PIONEER SAIL HOLDINGS PTY LIMITED</td>
                      <td>45 617 844 569</td>
                      <td>11,212,694</td>
                      <td>9,999</td>
                      <td>93,986,086</td>
                    </tr>
                  </table>
                  
            <br>
            <h2>Usage of this visualisation application</h2>
            <p>This tool has 4 main visualisation sections, leading through the process of Data analysis, to help users understand the highlights from the dataset.</p>
            <p>In <a href="{{ url_for('raw_data') }}">Raw Data Explore</a> section, histogram and box plot was used to help understand the distribution of the dataset.</p>
            <p>In <a href="{{ url_for('relationship') }}">Relationship Analysis</a> section, scatter plot was used to understand the relationship between attributes.In this section, apart from raw emission/consumption, we also investigated efficiency of the organisations, and found that organisations made the most emission tend to have a high energy efficiency (low share of emission/consumption), where as some smaller firms with low emissions are not focusing on increasing the energy efficiency even though the values of their net emissions seem low.</p>
            <p>In <a href="{{ url_for('data') }}">Emission Analysis</a> section, pie chart was used to understand how large firms are dominating the emission/consumption and the amount of smaller firms are also taking a considerable share.</p>
            <p>In <a href="{{ url_for('heatmap') }}">Organisational Analysis</a> section, we used heatmap to visualise and understand the top organisations that made emission/consumption, as well as the most and least energy efficient organisations.</p>
        </div>
        {% endblock %}
    </div>
</body>
</html>
