<!DOCTYPE html>
<html>
<head>
    <title>Data Visualization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="navigator">
            <h1>Visualisation App</h1>
            <div class="nav-item"><a href="{{ url_for('index') }}">Home</a></div>
            <div class="nav-item"><a href="{{ url_for('raw_data') }}">Raw Data Explore</a></div>
            <div class="nav-item"><a href="{{ url_for('data') }}">Emission Analysis</a></div>
        </div></div>
    {% block content %}
    {% endblock %}
</body>
</html>
